.App {
  text-align: center;
  padding: 30px;
}

.input {
  width: 400px;
  height: 1.6em;
  outline: none;
  margin-right: 10px;
  border-style: none;
  background-color: #ebebeb;
  box-shadow: -4px -4px 8px #fff, 4px 4px 8px rgb(0 0 0 / 36%);
}

::placeholder {
  color: #454444;
}

button {
  color: #454444;
  border: none;
  background-color: #ebebeb;
  box-shadow: -4px -4px 8px #fff, 4px 4px 8px rgb(0 0 0 / 36%);
}

button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(2px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

ul {
  list-style: none;
}

.array {
  text-align: left;
  width: 500px;
  position: fixed;
  top: 60px;
  left: 460px;
  font-size: 14px;
}